[Container]
Image=ghcr.io/browserless/chromium
Network=browserless.network
Tmpfs=/home/blessuser:mode=1777
Environment=DEBUG=-*
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
