[Service]
ExecStartPost=podman exec -du0 systemd-code-server sh -c "dnf install -y bash-color-prompt bash-completion"
[Container]
Image=docker.io/codercom/code-server:fedora
UserNS=auto:size=65536
ReadOnly=false
Network=nginx.network
Exec=--disable-telemetry
Volume=/var/lib/system-config/misc/vscode.json:/home/coder/.local/share/code-server/Machine/settings.json:z,ro
Volume=code-server-local.volume:/home/coder/.local:U,Z
Volume=code-server-ssh.volume:/home/coder/.ssh:U,Z
Volume=code-server-projects.volume:/home/coder/projects:U,Z
Volume=/etc/gitconfig:/etc/gitconfig:z,ro
Secret=CODE_SERVER_PASSWORD,type=env,target=PASSWORD
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
