[Container]
Image=codeberg.org/forgejo/forgejo:1.21-rootless
UserNS=auto
Network=nginx.network
Volume=/var/lib/system-config/container-config/forgejo/app.ini:/etc/gitea/app.ini:z,ro
Volume=forgejo.volume:/var/lib/gitea:U,Z
Secret=forgejo-token
PublishPort=2222:2222
PublishPort=[::]:2222:2222
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
