[Container]
Image=docker.io/gitea/gitea:latest-rootless
UserNS=auto
Network=nginx.network
Volume=/var/lib/system-config/container-config/forgejo/app.ini:/etc/gitea/app.ini:Z,ro
Volume=forgejo.volume:/data:U,Z
Secret=forgejo-token
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
