[Container]
Image=docker.io/qemux/qemu-docker
PodmanArgs=-t
UserNS=auto
RunInit=true
Network=nginx.network
AddDevice=/dev/kvm
AddDevice=/dev/vfio
Ulimit=memlock=-1:-1
Entrypoint=sh
Exec=-c 'qemu-system-x86_64 -nographic -nodefaults -serial stdio -M q35 -enable-kvm -cpu host,hypervisor=off -smp 8 -m 16G -drive if=pflash,format=raw,unit=0,readonly=true,file=/usr/share/OVMF/OVMF_CODE_4M.secboot.fd -drive if=pflash,format=raw,unit=1,file=/data/uefi.fd -drive if=virtio,format=qcow2,file=/data/drive.qcow2 -nic user,model=virtio,hostfwd=tcp:0.0.0.0:22-:22,hostfwd=tcp:0.0.0.0:47990-:47990,hostfwd=tcp:0.0.0.0:47984-:47984,hostfwd=tcp:0.0.0.0:47989-:47989,hostfwd=tcp:0.0.0.0:48010-:48010,hostfwd=udp:0.0.0.0:47998-:47998,hostfwd=udp:0.0.0.0:47999-:47999,hostfwd=udp:0.0.0.0:48000-:48000,hostfwd=udp:0.0.0.0:48002-:48002,hostfwd=udp:0.0.0.0:48010-:48010 $QEMU_ARGS'
Volume=gaming-vm.volume:/data:U,Z
PublishPort=47984:47984
PublishPort=47989:47989
PublishPort=48010:48010
PublishPort=47998-48010:47998-48010/udp
Secret=QEMU_ARGS,type=env
AutoUpdate=registry
