[Container]
Image=docker.io/grafana/grafana-oss
Network=nginx.network
Volume=grafana.volume:/var/lib/grafana:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
