[Unit]
Requires=immich-ml.service immich-postgresql.service immich-valkey.service
After=immich-ml.service immich-postgresql.service immich-valkey.service
[Container]
Image=ghcr.io/immich-app/immich-server:release
Network=immich.network
Volume=systemd-immich:/usr/src/app/upload:U,Z
Environment=DB_HOSTNAME=systemd-immich-postgresql
Environment=DB_USERNAME=immich
Environment=REDIS_HOSTNAME=systemd-immich-valkey
Secret=DB_PASSWORD,type=env
PublishPort=10.0.1.2:8006:2283
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
