[Container]
Image=cgr.dev/chainguard/valkey
Network=immich.network
Volume=systemd-immich-valkey:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
