[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release
Network=immich.network
Volume=immich-ml.volume:/cache:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
