[Unit]
Wants=network-online.target
After=network-online.target
[Container]
Image=git.strypsteen.com/mathieu/monero
Network=nginx.network
Volume=monero.volume:/root/.bitmonero:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
