[Container]
Image=docker.io/mongo:8.0
UserNS=host
Exec=--logpath /dev/null
Network=mongodb.network
Volume=mongodb.volume:/data/db:Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
