[Container]
Image=cgr.dev/chainguard/valkey
Network=nextcloud.network
Volume=nextcloud-valkey.volume:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
