[Container]
Image=docker.io/postgres:16-alpine
Network=nextcloud.network
Network=synapse.network
Volume=postgresql.volume:/var/lib/postgresql/data:U,Z
Secret=POSTGRES_PASSWORD,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
