[Container]
Image=docker.io/postgres:16-alpine
UserNS=auto
Network=nginx.network
Volume=postgresql.volume:/var/lib/postgresql/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
