[Container]
Image=docker.io/prom/prometheus
Network=nginx.network
Exec=--web.config.file=/run/secrets/prometheus-config --web.enable-remote-write-receiver
Volume=/var/lib/system-config/container-config/prometheus/prometheus.yml:/prometheus/prometheus.yml:z,ro
Volume=prometheus.volume:/prometheus/data:U,Z
Tmpfs=/prometheus
Secret=prometheus-config
PublishPort=8006:9090
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
