[Container]
Image=docker.io/jacobalberty/unifi
Network=nginx.network
HealthCmd=none
Volume=unifi.volume:/unifi/data:U,Z
Tmpfs=/unifi/run
PublishPort=8080:8080
PublishPort=[::]:8080:8080
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
