[Unit]
Requires=unifi-mongodb.service
After=unifi-mongodb.service
[Container]
Image=docker.io/goofball222/unifi
Network=unifi.network
HealthCmd=none
Volume=unifi.volume:/usr/lib/unifi/data:U,Z
Tmpfs=/usr/lib/unifi
Tmpfs=/usr/lib/unifi/cert
Tmpfs=/usr/lib/unifi/logs
Environment=DB_MONGO_LOCAL=false
Environment=DB_MONGO_URI=mongodb://systemd-unifi-mongodb/unifi
Environment=STATDB_MONGO_URI=mongodb://systemd-unifi-mongodb/unifi_stat
PublishPort=8080:8080
PublishPort=10.0.1.2:8009:8443
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
