[Container]
Image=cgr.dev/chainguard/valkey
Network=valkey.network
Volume=valkey.volume:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
