[Container]
Image=ghcr.io/caddybuilds/caddy-cloudflare:2.11.4
UserNS=auto
Network=caddy.network
Volume=/var/lib/system-config/container-config/caddy-home-gw:/etc/caddy:z,ro
Volume=systemd-caddy:/data:U,Z
PublishPort=444:444
PublishPort=444:444/udp
Secret=CLOUDFLARE_API_KEY,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
