[Container]
Image=docker.io/coturn/coturn:4.10.0
UserNS=auto
Exec=--use-auth-secret --no-tcp-relay --denied-peer-ip=10.0.0.0-10.255.255.255 --denied-peer-ip=192.168.0.0-192.168.255.255 --realm=turn.strypsteen.com --user-quota=16 --total-quota=64 --no-multicast-peers --static-auth-secret=$COTURN_SECRET
Network=host
Secret=COTURN_SECRET,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
