[Container]
Image=docker.io/haproxy:3.4.3
UserNS=auto
AddCapability=CAP_NET_BIND_SERVICE
Network=haproxy.network
Volume=/var/lib/system-config/container-config/haproxy-gw/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:z,ro
PublishPort=80:80
PublishPort=443:443
PublishPort=2222:2222
PublishPort=8612:8612
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
