[Container]
Image=docker.io/netbirdio/netbird:0.67.1
AddCapability=CAP_NET_ADMIN
AddCapability=CAP_NET_RAW
Network=host
Volume=systemd-netbird:/var/lib/netbird:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
