[Container]
Image=docker.io/caddy:2.10.2
Volume=/var/lib/system-config/container-config/caddy-gpu:/etc/caddy:z,ro
Volume=systemd-caddy:/data:U,Z
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Secret=INVOKEAI_PASSWORD,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
