[Service]
ExecStartPre=sleep 5
[Container]
Image=ghcr.io/invoke-ai/invokeai:6.13.7-cuda
Network=caddy.network
AddDevice=nvidia.com/gpu=all
Volume=systemd-invokeai:/invokeai:U,Z
Environment=CONTAINER_UID=999
Environment=INVOKEAI_MULTIUSER=true
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
