[Service]
ExecStartPre=sleep 5
[Container]
Image=ghcr.io/invoke-ai/invokeai:6-cuda
AddDevice=nvidia.com/gpu=all
Volume=systemd-invokeai:/invokeai:U,Z
Environment=CONTAINER_UID=999
PublishPort=10.0.2.2:9090:9090
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
