[Service]
ExecStartPre=sleep 5
[Container]
Image=docker.io/ollama/ollama
AddDevice=nvidia.com/gpu=all
Volume=systemd-ollama:/root/.ollama/models:U,Z
Environment=OLLAMA_FLASH_ATTENTION=true
Environment=OLLAMA_NOHISTORY=true
PublishPort=10.0.2.2:11434:11434
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
