(tls) {
  tls {
    dns cloudflare {$CLOUDFLARE_API_KEY}
    resolvers 1.1.1.1
  }
}
imagegen.strypsteen.com {
  import tls
  reverse_proxy http://systemd-invokeai:9090
}
textgen.strypsteen.com {
  import tls
  reverse_proxy http://host.containers.internal:8080
}
remote-desktop.strypsteen.com {
  import tls
  reverse_proxy https://localhost:47990 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
