[Unit]
Wants=network.target
After=network.target
[Container]
Image=docker.io/jasonish/suricata
AddCapability=NET_RAW
Network=host
Exec=suricata -i internal -i server -i mgmt
Volume=/var/lib/system-config/container-config/suricata/disable.conf:/etc/suricata/disable.conf:z,ro
Volume=suricata-rules.volume:/var/lib/suricata:U,Z
Volume=suricata-logs.volume:/var/log/suricata:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
