[Container]
Image=docker.io/mvance/unbound
Network=host
HealthCmd=none
Volume=/var/lib/system-config/container-config/unbound/unbound.conf:/opt/unbound/etc/unbound/unbound.conf:z,ro
Volume=/var/lib/container-data/unbound.conf:/opt/unbound/etc/unbound/local.conf:z,ro
Tmpfs=/opt/unbound/etc/unbound
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
