[Container]
Image=docker.io/jacobalberty/unifi
HealthCmd=none
Volume=unifi.volume:/unifi/data:U,Z
PublishPort=8080:8080
PublishPort=8443:8443
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
