defaults
  timeout connect 10s
  timeout client 600s
  timeout server 600s
frontend proxy-fe
  mode tcp
  bind :::443
  default_backend proxy
backend proxy
  mode tcp
  server infra 10.0.0.2 send-proxy
frontend no-proxy-fe
  mode tcp
  bind :::80
  bind :::2222
  bind :::8612
  default_backend no-proxy
backend no-proxy
  mode tcp
  server infra 10.0.0.2
