[Unit]
Requires=postgresql.service
After=postgresql.service
[Container]
Image=docker.io/matrixdotorg/synapse
UserNS=auto
Network=nginx.network
User=991
Exec=run --config-path /etc/synapse/homeserver.yaml --config-path /etc/synapse.yaml
Volume=/var/lib/system-config/container-config/synapse:/etc/synapse:z,ro
Volume=/var/lib/container-data/synapse.yaml:/etc/synapse.yaml:z,ro
Volume=synapse.volume:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
