[Container]
Image=docker.io/vaultwarden/server:alpine
UserNS=auto
Network=nginx.network
Volume=vaultwarden.volume:/data:U,Z
Environment=DOMAIN=https://vault.strypsteen.com
Environment=LOG_LEVEL=warn
Environment=SIGNUPS_ALLOWED=false
Environment=TRASH_AUTO_DELETE_DAYS=14
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
