[Container]
Image=cgr.dev/chainguard/redis
Network=rspamd.network
UserNS=keep-id:uid=65532,gid=65532
Volume=redis.volume:/data:Z
AutoUpdate=registry
[Install]
WantedBy=default.target
