[Service]
ExecStart=flatpak run dev.lizardbyte.app.Sunshine
ExecStartPre=sleep 5
Environment=FLATPAK_BWRAP=/root/bwrap
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
[Install]
WantedBy=multi-user.target
