[Container]
Image=cgr.dev/chainguard/redis
Network=rspamd.network
Volume=redis.volume:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=default.target
