[Unit]
Requires=redis.service
After=redis.service
[Container]
Image=docker.io/rspamd/rspamd
Network=rspamd.network
UserNS=keep-id:uid=11333,gid=11333
Volume=/var/lib/system-config/container-config/rspamd:/etc/rspamd/local.d:O
Volume=rspamd.volume:/var/lib/rspamd:Z
Volume=/home/podman-mail/dkim:/var/lib/rspamd/dkim:O
PublishPort=[::1]:11332:11332
AutoUpdate=registry
[Install]
WantedBy=default.target
