[Container]
Image=git.strypsteen.me/mathieu/monero
Volume=/home/monero/data:/.bitmonero:U,Z
PublishPort=18089:18089
AutoUpdate=registry
[Install]
WantedBy=default.target
