[Unit]
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0
[Service]
ExecStart=/bin/sh -c "/usr/bin/ssh -NTR 80:127.0.0.1:80 -R 443:127.0.0.1:443 -R 18089:127.0.0.1:18089 tunnel@home-gw"
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
