qubes.ClipboardPaste * @adminvm @anyvm ask
qubes.ClipboardPaste * system-config @anyvm ask
qubes.ClipboardPaste * vault @anyvm ask
qubes.ClipboardPaste * @anyvm @type:TemplateVM deny
qubes.ClipboardPaste * @anyvm default-mgmt-dvm deny
qubes.ClipboardPaste * @anyvm sys-net deny
qubes.ClipboardPaste * @anyvm sys-firewall deny
qubes.ClipboardPaste * @anyvm sys-usb deny
qubes.ClipboardPaste * @anyvm sys-whonix deny
qubes.ClipboardPaste * @anyvm system-config deny
qubes.ClipboardPaste * @anyvm dev deny
qubes.ClipboardPaste * @anyvm vault deny
qubes.ClipboardPaste * @anyvm ssh deny
qubes.ClipboardPaste * @anyvm @anyvm ask
qubes.OpenInVM * @anyvm @dispvm allow
qubes.OpenInVM * @anyvm @anyvm deny
qubes.OpenURL * @anyvm @dispvm allow
qubes.OpenURL * @anyvm @anyvm deny
qubes.StartApp * @anyvm @dispvm allow
qubes.StartApp * @anyvm @anyvm deny
qubes.Filecopy +allow-all-names @anyvm @anyvm deny
qubes.Filecopy * system-config @anyvm ask
qubes.Filecopy * @anyvm @type:TemplateVM deny
qubes.Filecopy * @anyvm default-mgmt-dvm deny
qubes.Filecopy * @anyvm sys-net deny
qubes.Filecopy * @anyvm sys-firewall deny
qubes.Filecopy * @anyvm sys-usb deny
qubes.Filecopy * @anyvm sys-whonix deny
qubes.Filecopy * @anyvm system-config deny
qubes.Filecopy * @anyvm dev deny
qubes.Filecopy * @anyvm vault deny
qubes.Filecopy * @anyvm ssh deny
