ServerAliveInterval 10
ServerAliveCountMax 2
UpdateHostKeys yes
VerifyHostKeyDNS ask
HashKnownHosts yes
AddKeysToAgent yes
ExitOnForwardFailure yes
Host pve
  HostName pve.strypsteen.com
Host
  HostName infra.server.home.arpa
Host home
  HostName home.server.home.arpa
Host home-gw
  HostName home-gw.strypsteen.com
Host router
  HostName 192.168.255.1
  User vyos
Host sandbox
  HostName sandbox.server.home.arpa
Host vps
  HostName vps.strypsteen.com
Host *
  User root
