[Container]
Image=docker.io/postgres:16-alpine
Network=synapse.network
Volume=/home/synapse/db:/var/lib/postgresql/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=default.target
