[Container]
Image=docker.io/postgres:16-alpine
Network=synapse.network
Volume=postgresql.volume:/var/lib/postgresql/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=default.target
