[Unit]
Requires=postgresql.service
After=postgresql.service
[Container]
Image=docker.io/matrixdotorg/synapse
Network=synapse.network
User=991
Exec=run --config-path /etc/synapse/homeserver.yaml --config-path /data/turn.yaml
Volume=/var/lib/system-config/container-config/synapse:/etc/synapse:O
Volume=synapse.volume:/data:U,Z
PublishPort=[::1]:8000:8080
AutoUpdate=registry
[Install]
WantedBy=default.target
