[Service]
ExecStartPre=-sudo chown -Rh coder:coder /home/coder
ExecStart=code-server --bind-addr 0.0.0.0:8080 --disable-telemetry --proxy-domain code-proxy.strypsteen.com
Environment=SSH_AUTH_SOCK=/run/user/1000/ssh-agent.socket
[Install]
WantedBy=default.target
