[Service]
ExecStartPre=-sudo chown -Rh coder:coder /home/coder
ExecStartPre=-sudo chown -Rh coder:coder /nix
ExecStart=bash -c "code-server --bind-addr 0.0.0.0:8080 --disable-telemetry --proxy-domain $PROXY_DOMAIN"
Environment=SSH_AUTH_SOCK=/run/user/1000/ssh-agent.socket
[Install]
WantedBy=default.target
