[Unit]
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0
[Service]
ExecStart=sh -c "ssh -NTR 80:$(hostname -I | cut -d' ' -f1):80 -R 443:$(hostname -I | cut -d' ' -f1):443 -R 2222:$(hostname -I | cut -d' ' -f1):2222 -R 18089:$(hostname -I | cut -d' ' -f1):18089 tunnel@home-gw"
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
