[Container]
Image=docker.io/caddy
Network=nginx.network
Volume=/var/lib/system-config/container-config/caddy:/etc/caddy:z,ro
Volume=/var/lib/system-config/container-config/site:/var/www:z,ro
Volume=/etc/certificates/certificates:/etc/certificates:z,ro
Volume=systemd-caddy:/data:U,Z
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Secret=INVOKEAI_PASSWORD,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
