[Container]
Image=docker.io/certbot/dns-cloudflare
UserNS=host
Entrypoint=run-certbot
Volume=systemd-certificates:/etc/certificates:U,z
Volume=/var/lib/system-config/container-config/certbot/run-certbot:/usr/local/bin/run-certbot:Z,ro
Tmpfs=/var/log/letsencrypt
Environment=CERTBOT_TYPE=home
Secret=cloudflare
AutoUpdate=registry
