[Container]
Image=docker.io/grafana/grafana-oss
Network=nginx.network
Volume=systemd-grafana:/var/lib/grafana:U,Z
Environment=GF_ANALYTICS_REPORTING_ENABLED=false
Environment=GF_AUTH_DISABLE_LOGIN_FORM=true
Environment=GF_AUTH_GENERIC_OAUTH_ENABLED=true
Environment=GF_AUTH_GENERIC_OAUTH_CLIENT_ID=grafana
Environment=GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://auth.strypsteen.com/realms/master/protocol/openid-connect/auth
Environment=GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://auth.strypsteen.com/realms/master/protocol/openid-connect/token
Environment=GF_AUTH_GENERIC_OAUTH_SCOPES=email,openid,profile
Environment=GF_AUTH_GENERIC_OAUTH_SKIP_ORG_ROLE_SYNC=true
Environment=GF_AUTH_GENERIC_OAUTH_AUTO_LOGIN=true
Environment=GF_AUTH_GENERIC_OAUTH_USE_PKCE=true
Environment=GF_DATABASE_WAL=true
Environment=GF_LOG_LEVEL=warn
Environment=GF_SERVER_ROOT_URL=https://monitoring.strypsteen.com
Environment=GF_SMTP_ENABLED=true
Environment=GF_SMTP_HOST=vps.strypsteen.com:465
Environment=GF_SMTP_USER=monitoring
Environment=GF_SMTP_FROM_ADDRESS=monitoring@strypsteen.me
Secret=GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET,type=env
Secret=GF_SMTP_PASSWORD,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
