[Container]
Image=docker.io/certbot/dns-cloudflare:v5.8.0
Network=certbot.network
Entrypoint=run-certbot
Volume=systemd-certificates:/etc/certificates:U,z
Volume=/var/lib/system-config/container-config/certbot/run-certbot:/usr/local/bin/run-certbot:Z,ro
Environment=CERTBOT_TYPE=vps
PublishPort=80:80
AutoUpdate=registry
