[Container]
Image=cgr.dev/chainguard/nginx
UserNS=auto
Network=nginx.network
AddCapability=CAP_NET_BIND_SERVICE
Volume=/var/lib/system-config/container-config/nginx:/etc/nginx:z,ro
Volume=/var/lib/system-config/container-config/nginx-vps:/etc/nginx-sites:z,ro
Volume=/var/lib/system-config/container-config/site:/var/www:z,ro
Volume=/etc/certificates:/etc/certificates:z,ro
Tmpfs=/var/lib/nginx/tmp
Tmpfs=/var/lib/nginx/logs
PublishPort=80:80
PublishPort=[::]:80:80
PublishPort=443:443
PublishPort=[::]:443:443
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
