[Unit]
Requires=dovecot.service rspamd.service
After=dovecot.service rspamd.service
[Container]
Image=git.strypsteen.com/mathieu/postfix
Network=mail.network
Volume=/etc/certificates:/etc/certificates:z,ro
Volume=postfix.volume:/var/spool/postfix:Z
Tmpfs=/var/lib/postfix
PublishPort=25:25
PublishPort=[::]:25:25
PublishPort=465:465
PublishPort=[::]:465:465
StopTimeout=20
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
