[Unit]
Requires=dovecot.service rspamd.service unbound.service
After=dovecot.service rspamd.service unbound.service
[Container]
Image=git.strypsteen.com/infra/postfix
Network=mail.network
DNS=10.89.255.254
Volume=systemd-certificates:/etc/certificates:z,ro
Volume=systemd-postfix:/var/spool/postfix:Z
PublishPort=25:25
PublishPort=465:465
StopTimeout=20
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
