[Container]
Image=cgr.dev/chainguard/redis
Network=redis.network
Volume=redis.volume:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
