[Unit]
Requires=valkey.service unbound.service
After=valkey.service unbound.service
[Container]
Image=docker.io/rspamd/rspamd
Network=mail.network
Volume=/var/lib/system-config/container-config/rspamd:/etc/rspamd/local.d:z,ro
Volume=systemd-rspamd:/var/lib/rspamd:U,Z
Secret=dkim.key
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
