[Unit]
Requires=redis.service
After=redis.service
[Container]
Image=docker.io/rspamd/rspamd
UserNS=auto
Network=mail.network
Network=redis.network
Volume=/var/lib/system-config/container-config/rspamd:/etc/rspamd/local.d:z,ro
Volume=rspamd.volume:/var/lib/rspamd:U,Z
Secret=dkim.key
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
