[Container]
Image=docker.io/alpinelinux/unbound
UserNS=auto
Network=mail.network
IP=10.89.255.254
Volume=/var/lib/system-config/container-config/unbound/unbound.conf:/etc/unbound/unbound.conf:z,ro
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
