[Container]
Image=docker.io/valkey/valkey:9.0.4
UserNS=auto
Network=mail.network
Volume=systemd-valkey:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
