[Container]
Image=cgr.dev/chainguard/valkey
Network=mail.network
Volume=systemd-valkey:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
