defaults
  timeout connect 10s
  timeout client 600s
  timeout server 600s
frontend http-fe
  mode tcp
  bind :80
  bind :::80 v6only
  default_backend http
backend http
  mode tcp
  server haproxy 192.168.253.34:80 send-proxy-v2
frontend https-fe
  mode tcp
  bind :443
  bind :::443 v6only
  default_backend https
backend https
  mode tcp
  server haproxy 192.168.253.34:443 send-proxy-v2
frontend no-proxy-fe
  mode tcp
  bind :::2222
  bind :::8612
  default_backend no-proxy
backend no-proxy
  mode tcp
  server haproxy 192.168.253.34
