[Container]
Image=code.forgejo.org/forgejo/runner:3.5.1
SecurityLabelDisable=true
Exec=forgejo-runner daemon -c /etc/act-runner/config.yaml
Volume=/run/podman:/run/podman:U
Volume=/var/lib/system-config/container-config/act-runner/config.yaml:/etc/act-runner/config.yaml:z,ro
Volume=act-runner.volume:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
