[Container]
Image=ghcr.io/browserless/chromium
Tmpfs=/home/blessuser:mode=1777
Environment=DEBUG=-*
PublishPort=3000:3000
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
