[Service]
Restart=on-failure
[Container]
Image=code.forgejo.org/forgejo/runner:6
SecurityLabelDisable=true
Exec=forgejo-runner daemon -c /etc/forgejo-runner/config.yaml
Volume=/run/podman:/run/podman:U
Volume=/var/lib/system-config/container-config/forgejo-runner/config.yaml:/etc/forgejo-runner/config.yaml:z,ro
Volume=systemd-forgejo-runner:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
