defaults
  timeout connect 10s
  timeout client 600s
  timeout server 600s
frontend http-fe
  mode tcp
  bind :80
  bind :::80 v6only
  bind :180 accept-proxy
  default_backend http
backend http
  mode tcp
  server k8s k8s.strypsteen.com:80 send-proxy-v2
frontend https-fe
  mode tcp
  bind :443
  bind :::443 v6only
  bind :1443 accept-proxy
  default_backend https
backend https
  mode tcp
  server k8s k8s.strypsteen.com:443 send-proxy-v2
frontend no-proxy-fe
  mode tcp
  bind :::2222
  bind :::8612
  default_backend no-proxy
backend no-proxy
  mode tcp
  server k8s k8s.strypsteen.com
