{
  servers {
    listener_wrappers {
      proxy_protocol {
        allow 10.0.0.1/32
      }
      tls
    }
  }
}
(tls) {
  tls /etc/certificates/fullchain.pem /etc/certificates/privkey.pem
}
strypsteen.me {
  reverse_proxy https://strypsteen.me
}
strypsteen.com {
  import tls
  reverse_proxy https://strypsteen.com
}
auth.strypsteen.com {
  import tls
  reverse_proxy https://auth.strypsteen.com
}
backups.strypsteen.com {
  import tls
  reverse_proxy https://backups.strypsteen.com
}
cloud.strypsteen.com {
  import tls
  reverse_proxy https://cloud.strypsteen.com
}
code.strypsteen.com, *.code-proxy.strypsteen.com {
  import tls
  reverse_proxy https://code.strypsteen.com
}
code-sandbox.strypsteen.com, *.code-sandbox-proxy.strypsteen.com {
  import tls
  reverse_proxy https://code-sandbox.strypsteen.com
}
console.strypsteen.com {
  import tls
  reverse_proxy https://console.strypsteen.com
}
matrix.strypsteen.com {
  import tls
  reverse_proxy https://matrix.strypsteen.com
}
git.strypsteen.com {
  import tls
  reverse_proxy https://git.strypsteen.com
}
llm.strypsteen.com {
  import tls
  reverse_proxy https://llm.strypsteen.com
}
metrics.strypsteen.com {
  import tls
  reverse_proxy https://metrics.strypsteen.com
}
monitoring.strypsteen.com {
  import tls
  reverse_proxy https://monitoring.strypsteen.com
}
mta-sts.strypsteen.me, mta-sts.strypsteen.com {
  reverse_proxy https://mta-sts.strypsteen.com
}
network.strypsteen.com {
  import tls
  reverse_proxy https://network.strypsteen.com
}
office.strypsteen.com {
  import tls
  reverse_proxy https://office.strypsteen.com
}
photos.strypsteen.com {
  import tls
  reverse_proxy https://photos.strypsteen.com
}
remote-desktop.strypsteen.com {
  import tls
  reverse_proxy https://remote-desktop.strypsteen.com
}
vault.strypsteen.com {
  import tls
  reverse_proxy https://vault.strypsteen.com
}
textgen.strypsteen.com {
  import tls
  reverse_proxy https://textgen.strypsteen.com
}
imagegen.strypsteen.com {
  import tls
  reverse_proxy http://imagegen.strypsteen.com
}
