{
  metrics
}
:2019 {
  metrics
}
(base) {
  header {
    >Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    >X-Frame-Options SAMEORIGIN
    >X-Content-Type-Options nosniff
    >Referrer-Policy no-referrer
  }
}
(tls) {
  tls /etc/certificates/fullchain.pem /etc/certificates/privkey.pem
}
(local-only) {
  @abort not remote_ip 192.168.0.0/16
  abort @abort
}
strypsteen.me {
  import base
  root /var/www
  file_server
  header Content-Security-Policy "default-src 'self'"
  header /.well-known/matrix/client Access-Control-Allow-Origin *
  respond /.well-known/matrix/client <<EOF
  {"m.homeserver": {"base_url": "https://matrix.strypsteen.com"}}
  EOF
  respond /.well-known/matrix/server <<EOF
  {"m.server": "matrix.strypsteen.com:443"}
  EOF
}
strypsteen.com {
  import base
  import tls
  respond 404
}
auth.strypsteen.com {
  import base
  import tls
  reverse_proxy http://systemd-keycloak:8080
}
cloud.strypsteen.com {
  import base
  import tls
  reverse_proxy http://home.server.home.arpa:8002
}
code.strypsteen.com, *.code-proxy.strypsteen.com {
  import base
  import tls
  reverse_proxy http://sandbox.server.home.arpa:8080
}
code-sandbox.strypsteen.com, *.code-sandbox-proxy.strypsteen.com {
  import base
  import tls
  reverse_proxy http://sandbox.server.home.arpa:8081
}
matrix.strypsteen.com {
  import base
  import tls
  reverse_proxy http://home.server.home.arpa:8005
}
git.strypsteen.com {
  import base
  import tls
  reverse_proxy http://systemd-forgejo:3000
}
llm.strypsteen.com {
  import base
  import local-only
  import tls
  reverse_proxy https://k8s.strypsteen.com
}
metrics.strypsteen.com {
  import base
  import tls
  reverse_proxy /api/v1/write http://systemd-prometheus:9090
  basic_auth /loki/api/v1/push {
    loki {$LOKI_PASSWORD}
  }
  reverse_proxy /loki/api/v1/push http://systemd-loki:3100
}
monitoring.strypsteen.com {
  import base
  import tls
  reverse_proxy http://systemd-grafana:3000
}
mta-sts.strypsteen.me, mta-sts.strypsteen.com {
  import base
  respond /.well-known/mta-sts.txt <<EOF
  version: STSv1
  mode: enforce
  mx: vps.strypsteen.com
  max_age: 1209600
  EOF
  respond 404
}
network.strypsteen.com {
  import base
  import local-only
  import tls
  reverse_proxy https://home.server.home.arpa:8009 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
office.strypsteen.com {
  import base
  import tls
  reverse_proxy https://home.server.home.arpa:8010 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
photos.strypsteen.com {
  import base
  import tls
  reverse_proxy http://home.server.home.arpa:8006
}
remote-desktop.strypsteen.com {
  import base
  import local-only
  import tls
  header >Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'"
  reverse_proxy https://gpu.server.home.arpa:47990 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
vault.strypsteen.com {
  import base
  import tls
  reverse_proxy http://systemd-vaultwarden
}
textgen.strypsteen.com {
  import base
  import local-only
  import tls
  reverse_proxy http://gpu.server.home.arpa:11434
}
imagegen.strypsteen.com {
  import base
  import local-only
  import tls
  basic_auth {
    mathieu {$INVOKEAI_PASSWORD}
  }
  reverse_proxy http://gpu.server.home.arpa:9090
}
