[Container]
Image=docker.io/grafana/alloy:v1.19.2
PodmanArgs=--pid=host
Unmask=ALL
Network=host
Exec=run /etc/alloy/config.alloy --storage.path=/var/lib/alloy/data --disable-reporting
Volume=/var/lib/system-config/container-config/alloy/config.alloy:/etc/alloy/config.alloy:z,ro
Volume=systemd-alloy:/var/lib/alloy/data:U,Z
Volume=/:/run/host:ro
Volume=/run/systemd:/run/systemd
Secret=PROMETHEUS_PASSWORD,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
