[Container]
Image=docker.io/grafana/alloy
PodmanArgs=--pid=host
UserNS=host
Unmask=ALL
Network=host
Volume=/var/lib/system-config/container-config/alloy/config.alloy:/etc/alloy/config.alloy:z,ro
Volume=alloy.volume:/var/lib/alloy/data:U,Z
Volume=/:/run/host:ro
Volume=/run/systemd:/run/systemd
Tmpfs=/var/lib/alloy
Secret=PROMETHEUS_PASSWORD,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
