[Container]
Image=ghcr.io/borgmatic-collective/borgmatic
SecurityLabelDisable=true
UserNS=host
HostName=%H
Volume=/var/lib/system-config/container-config/borgmatic/config.yaml:/etc/borgmatic/config.yaml:z,ro
Volume=/var/lib/system-config/container-config/borgmatic/%H.yaml:/etc/borgmatic/local.yaml:z,ro
Volume=/:/run/host:ro
Volume=borgmatic-config.volume:/root/.config/borg:U,Z
Volume=borgmatic-ssh.volume:/root/.ssh:U,Z
Tmpfs=/etc/crontabs
Tmpfs=/root/.cache/borg
Environment=BACKUP_CRON="0 0 * * *"
Secret=BORG_PASSWORD,type=env
Secret=BORG_REMOTE,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
