[Container]
Image=git.strypsteen.me/mathieu/certbot
Network=certbot.network
Volume=/etc/certificates:/etc/certificates:z
Tmpfs=/etc/letsencrypt
Tmpfs=/var/lib/letsencrypt
Tmpfs=/var/log/letsencrypt
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
